@import "../variables";

#ActionDisk {
    grid-area: ActionDisk;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto 190px auto;
    grid-template-rows: 1fr;
    .disk {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        svg {
            grid-area: 1 / 1 / 2 / 2;

            .rotatable {
                transition: transform 0.5s ease-in-out;
            }
        }

        .glow {
            filter: $green-glow;
        }

        #ColorDisk {
            pointer-events: none;
        }

        text {
            pointer-events: none;
        }
    }

    .arrow {
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        &.disabled {
            &:hover {
                cursor: default;
                transform: scale(1);
            }
        }
    }

    .slice {
        &.enabled:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
    #ActionDisk {
        display: grid;
        // border: solid red 2px;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        height: 90vh;

        .disk {
            svg {
                // height: 190px;
                width: 70vw;
            }
        }

        .arrow {
            // height: calc(60px);
            // width: calc(33px);
            width: 15vw;
            &:hover {
                cursor: pointer;
                transform: scale(1);
            }

            &.disabled {
                &:hover {
                    cursor: default;
                    transform: scale(1);
                }
            }
        }
    }
}
