#ActionDisk {
    grid-area: ActionDisk;
    display: flex;
    justify-content: center;
    align-items: center;
    .disk {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        svg {
            grid-area: 1 / 1 / 2 / 2;

            .rotatable {
                transition: transform 0.5s ease-in-out;
            }
        }

        #ColorDisk {
            pointer-events: none;
        }

        text {
            pointer-events: none;
        }
    }

    .arrow {
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        &.disabled {
            &:hover {
                cursor: default;
                transform: scale(1);
            }
        }
    }

    .slice {
        &.enabled:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 900px) and (max-height: 400px) and (orientation: landscape) {
    #ActionDisk {
        transform: scale(0.65);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .arrow {
            &:hover {
                cursor: pointer;
                transform: scale(1);
            }

            &.disabled {
                &:hover {
                    cursor: default;
                    transform: scale(1);
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
    #ActionDisk {
        display: grid;
        grid-template-columns: auto calc(210px / 2) auto;
        grid-template-rows: 1fr;

        .disk {
            svg {
                height: calc(210px / 2);
            }
        }

        .arrow {
            height: calc(75px / 2);
            width: calc(33px / 2);
            &:hover {
                cursor: pointer;
                transform: scale(1);
            }

            &.disabled {
                &:hover {
                    cursor: default;
                    transform: scale(1);
                }
            }
        }
    }
}
