#StartScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    #Gear {
        align-self: end;
    }

    #title {
        display: flex;
        align-items: baseline;
        h1 {
            font-size: 2em;
            margin-right: 16px;
        }
        p {
            font-size: 12px;
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        button {
            margin-bottom: 16px;

            font-size: 36px;
        }
    }
}
