@import "../../variables";

#Kitchen {
    grid-area: kitchen;
    width: 80%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto auto 2fr;
    grid-template-areas:
        "grill-label freezer-label"
        "grill grill"
        "counters-label counters-label"
        "hot-label cold-label"
        "hot cold";

    &.heated {
        grid-template-areas:
            "grill-label freezer-label"
            "grill freezer"
            "counters-label counters-label"
            "hot-label hot-label"
            "hot hot";
    }

    .counters-label {
        grid-area: counters-label;
        margin-top: 4px;
        font-weight: bold;
        justify-self: start;
        
        font-size: 24px;
    }

    .grill-label {
        grid-area: grill-label;
        font-weight: bold;
        justify-self: start;
        
        font-size: 24px;
    }

    .freezer-label {
        grid-area: freezer-label;
        font-weight: bold;
        margin-top: 4px;
        justify-self: end;
        
        font-size: 24px;
    }

    .hot-label {
        grid-area: hot-label;
        align-self: end;
        padding: 0 4px;
    }

    .cold-label {
        grid-area: cold-label;
        align-self: end;
        padding: 0 4px;
    }

    .freezer {
        grid-area: freezer;
        border: solid rgb(102, 102, 102) 2px;
        padding: 4px;
        justify-self: flex-end;

        .freezer-item {
            width: 25px;
            height: 25px;
            border: solid rgb(73, 73, 73) 2px;
        }
    }

    .grill {
        grid-area: grill;
        border: solid rgb(102, 102, 102) 2px;
        padding: 4px 0;
        padding: 8px 16px;
        background-color: black;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-content: center;
        place-content: center;
        place-items: center;

        .burner {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            width: 48px;
            height: 48px;
            justify-items: center;
            align-items: center;

            .ring {
                position: absolute;
                border: solid rgb(255, 125, 125) 2px;
                box-shadow:
                    0 0 5px 1px red,
                    inset 0 0 5px 1px red;
            }

            .ring-1 {
                width: 36px;
                height: 36px;
                border-radius: 36px;
                padding: 4px;
            }

            .ring-2 {
                width: 24px;
                height: 24px;
                border-radius: 24px;
                padding: 4px;
            }

            .ring-3 {
                width: 12px;
                height: 12px;
                border-radius: 12px;
                padding: 4px;
            }

            #Cube {
                width: 36px;
                height: 36px;
                z-index: 2;
                filter: drop-shadow(0 0 5px #000)
            }
        }
    }

    .counter {
        border: solid rgb(192, 192, 175) 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 90px;
        background-color: beige;
        color: black;

        &.cold-counter {
            border-left: none;
        }

        &.hot-counter {
            border-right-style: dashed;
        }

        &.heated {
            border-right-style: solid;
            border-color: rgb(149, 0, 0);
            background-color: rgb(149, 0, 0, 0.15);
        }

        .food {
            margin: 4px;
            height: 36px;
            width: 36px;
            border: none;
            // box-shadow: 0 0 10px 5px #0c0;
            filter: $green-glow;
            background-color: transparent;

            &.disabled {
                cursor: default;
                filter: none;
            }

            &:hover {
                border: none;
            }
        }
    }

    .hot-counter {
        grid-area: hot;
    }

    .cold-counter {
        grid-area: cold;
    }
}

@media only screen and (max-width: 900px) and (max-height: 430px) and (orientation: landscape) {
    #Kitchen {
        height: 300px;
        align-self: flex-start;
    }
}
