@import "../../variables";

#Console {
    grid-area: console;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "title info instructions  buttons buttons ";
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    font-family: $sans;

    h1 {
        grid-area: title;
        font-size: 32px;
        justify-self: start;
        margin: 4px;
    }

    .undo {
        display: none;
    }

    .game-info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
    }

    .buttons {
        grid-area: buttons;
        justify-self: flex-end;
        align-self: flex-start;
        display: flex;
        align-items: center;

        > * {
            margin: 0;
            margin-left: 8px;
        }

        svg {
            height: 40px;
            width: 40px;
        }

        .save {
            cursor: pointer;
        }

        .gear {
            cursor: pointer;
        }
    }

    .round {
        grid-area: round;
        margin: 0;
    }

    .star {
        grid-area: stars;
        display: grid;
        place-items: center;
        align-self: center;

        svg {
            height: 75px;
            grid-column: 1/1;
            grid-row: 1/1;
        }

        span {
            color: black;
            grid-column: 1/1;
            grid-row: 1/1;
            font-size: 32px;
        }
    }

    .instructions {
        grid-area: instructions;
        margin: 0;
    }

    button.instructions {
        width: 50%;
        justify-self: center;
        filter: $green-glow;
    }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
    #Console {
        font-size: 12px;
        grid-gap: 0;
        max-width: 100vw;
        justify-self: start;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title buttons" "info instructions";
        .undo {
            display: block;
        }

        h1 {
            font-family: $script;
            grid-area: title;
            font-size: 20px;
        }

        .star {
            svg {
                height: 35px;
                grid-column: 1/1;
                grid-row: 1/1;
            }

            span {
                color: black;
                grid-column: 1/1;
                grid-row: 1/1;
                font-size: 20px;
            }
        }

        .buttons {
            grid-area: buttons;
            justify-self: flex-end;
            align-self: flex-start;
            display: flex;
            align-items: center;

            > * {
                margin: 0;
                margin-right: 8px;
            }

            svg {
                height: 20px;
                width: 20px;
            }

            .undo {
                display: flex;
            }

            .save {
                cursor: pointer;
            }

            .gear {
                cursor: pointer;
            }
        }
    }
}
