#Console {
    grid-area: console;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "round buttons"
        "stars instructions";
    justify-content: flex-start;
    align-items: start;

    .buttons {
        grid-area: buttons;
        justify-self: flex-end;
        align-self: flex-start;
        display: flex;

        // all children should have a margin-left of 8px
        > * {
            margin: 0;
            margin-left: 8px;
        }

        svg {
            height: 40px;
            width: 40px;
        }

        .save {
            cursor: pointer;
        }

        .gear {
            cursor: pointer;
        }
    }

    .round {
        grid-area: round;
        margin: 0;
        font-size: 22px;
    }

    .star {
        grid-area: stars;
        display: grid;
        place-items: center;
        align-self: center;

        svg {
            height: 75px;
            grid-column: 1/1;
            grid-row: 1/1;
        }

        span {
            color: black;
            grid-column: 1/1;
            grid-row: 1/1;
            font-size: 32px;
        }
    }

    .instructions {
        grid-area: instructions;
        margin: 0;
        font-size: 32px;
        border: solid white 2px;
        height: 100%;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#Console {
    grid-area: console;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: " round instructions stars  buttons ";
    justify-content: flex-start;
    align-items: start;

    .buttons {
        grid-area: buttons;
        justify-self: flex-end;
        align-self: flex-start;
        display: flex;

        // all children should have a margin-left of 8px
        > * {
            margin: 0;
            margin-left: 8px;
        }

        svg {
            height: 40px;
            width: 40px;
        }

        .save {
            cursor: pointer;
        }

        .gear {
            cursor: pointer;
        }
    }

    .round {
        grid-area: round;
        margin: 0;
        font-size: 22px;
    }

    .star {
        grid-area: stars;
        display: grid;
        place-items: center;
        align-self: center;

        svg {
            height: 35px;
            grid-column: 1/1;
            grid-row: 1/1;
        }

        span {
            color: black;
            grid-column: 1/1;
            grid-row: 1/1;
            font-size: 24px;
        }
    }

    .instructions {
        grid-area: instructions;
        margin: 0;
        font-size: 16px;
        border: solid white 2px;
        height: 100%;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
