#Dice {
    grid-area: tableau;
    .die {
        width: 35px;
        height: 35px;
        margin: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black; // or another color that contrasts with your dice colors
        font-size: 20px;
        background-color: white;
        border-radius: 8px;

        .dot {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin: 2px;
            border: solid black 1px;
        }
    }
}
