@import '../../variables';

#DriveThru {
grid-area: drive-thru;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid grey 3px;
    border-bottom: solid grey 3px;
    background-color: grey;

    .car {
        width: 90px;
        height: 40px;
        font-size: 8px;
        background-color: transparent;
        border: none;

        svg {
            filter: $green-glow;
        }

        &:focus,
        &:focus-visible,
        &:hover {
            outline: none;
        }

        &:disabled {
            cursor: default;
            box-shadow: none;
            svg {
                filter: none;
            }
        }

        &.full {
            cursor: default;
            box-shadow: none;
            display: grid;
            grid-template-areas: " . ";
            justify-items: center;
            align-content: center;

            .cube {
                height: 14px;
                width: 14px;
                transform: translate(-4px, -11px);
                box-shadow: 0 0 10px black;
            }
        }
    }

    .yellow-stripe {
        width: 36px;
        height: 5px;
        background-color: var(--yellow);
    }
}
