#DriveThru {
grid-area: drive-thru;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid grey 3px;
    border-bottom: solid grey 3px;

    .car {
        width: 75px;
        height: 40px;
        font-size: 8px;
        background-color: transparent;

        svg {
            filter: drop-shadow(0 0 10px #0c0);
        }

        &:focus,
        &:focus-visible,
        &:hover {
            outline: none;
            border: none;
        }

        &:disabled {
            cursor: default;
            box-shadow: none;
            svg {
                filter: none;
            }
        }

        &.full {
            cursor: default;
            box-shadow: none;
            display: grid;
            grid-template-areas: " . ";
            justify-items: center;
            align-content: center;

            .cube {
                height: 14px;
                width: 14px;
                transform: translate(-4px, -11px);
                box-shadow: 0 0 10px black;
            }
        }
    }

    .yellow-stripe {
        width: 25px;
        height: 5px;
        background-color: yellow;
    }
}
