#NewKitchen {
    grid-area: kitchen;
    width: 80%;
    height: 100%;
    height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 0.75fr 0.25fr 1fr 1fr;
    grid-template-areas:
        "grill-label ."
        "grill grill"
        "hot-label cold-label"
        "hot cold"
        "hot cold";

    .grill-label {
        grid-area: grill-label;
    }

    .hot-label {
        grid-area: hot-label;
    }

    .cold-label {
        grid-area: cold-label;
    }

    .grill {
        grid-area: grill;
        border: solid rgb(102, 102, 102) 2px;
        height: 50%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-content: center;

        .burner {
            width: 25px;
            height: 25px;
            border: solid rgb(73, 73, 73) 2px;

            &.red {
                background-color: red;
                border: solid black 1px;
            }

            &.white {
                background-color: white;
                border: solid black 1px;
            }

            &.blue {
                background-color: blue;
                border: solid black 1px;
            }

            &.yellow {
                background-color: yellow;
                border: solid black 1px;
            }

            &.purple {
                background-color: purple;
                border: solid black 1px;
            }
        }
    }

    .counter {
        border: solid white 2px;
        // translate right by half of this width
        background-color: rgb(73, 73, 73);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .food {
            margin: 4px;
            border: none;
            box-shadow: 0 0 10px 5px #0c0;

            &.disabled {
                cursor: default;
                box-shadow: none;
            }

            &:hover {
                border: none;
            }
        }
    }

    .hot-counter {
        grid-area: hot;
    }

    .cold-counter {
        grid-area: cold;
    }
}

@media only screen and (max-width: 845px) and (orientation: landscape) {
    #Kitchen {
        height: 200px;
    }
}
