.load-save-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    list-style: none;
    padding: 8px 0;
    max-height: 80vh;
    overflow-y: auto;

    li {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        box-sizing: border-box;
        z-index: 1;

        p {
            margin: 0;
        }

        .info {
            border: solid black 2px;
            padding: 8px;
            width: 100%;
            margin-right: 16px;
            font-size: 16px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: start;
            align-items: center;
            grid-template-areas: " name name " " date phase ";

            .saved-game-name {
                grid-area: name;
                font-weight: bold;
            }

            .saved-game-date {
                grid-area: date;
                font-size: 12px;
            }

            .saved-game-phase {
                grid-area: phase;
                justify-self: end;

                &.Finished {
                    background-color: green;
                    color: white;
                    padding: 4px 8px;
                    font-size: 12px;
                    border-radius: 100px;
                }
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
                transform: translateY(-5px);
            }
        }

        .delete-game {
            margin-left: 8px;
            cursor: pointer;
            height: 40px;
            width: 40px;
            padding: 8px;
            font-size: 8px;
            z-index: 2;
            background-color: rgb(184, 0, 0);
            border-color: rgb(184, 0, 0);

            &:hover {
                background-color: rgb(184, 0, 0);
                border-color: rgb(184, 0, 0);
            }

            &:focus,
            &:focus-visible {
                outline: none;
            }
        }
    }
}
