@import "../../variables.scss";

#Tables {
    margin-left: 64px;
    grid-area: tables;
    align-self: flex-start;
    width: 80%;
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "table1 table1 table1 table2 table2 table2"
        ". . table3 table3 . ."
        "track track track track track track";
    justify-items: center;
    align-items: center;

    & > *:first-child {
        grid-area: table1;
    }
    & > *:nth-child(2) {
        grid-area: table2;
    }
    & > *:nth-child(3) {
        grid-area: table3;
    }

    .manager-track {
        grid-area: track;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 16px;
        flex-wrap: wrap;
        justify-content: flex-start;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

        .arrow {
            display: grid;
            grid-template-rows: 1fr 1em;
            justify-content: center;

            svg {
                margin: 7px;
            }
        }
        .stop-container {
            display: grid;
            grid-template-rows: 1fr 1em;
            justify-content: center;
            p {
                margin: 0;
            }

            .stop-action {
                font-size: 10px;
                font-family: $sans;
            }

            .stop {
                height: 40px;
                width: 40px;
                border: dotted white 1px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .manager {
                    height: 40px;
                }
            }
        }
    }

    .customer {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        color: black;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            ". meeple drink ."
            ". plate plate  .";
        justify-items: center;
        align-items: center;

        padding: 0;

        box-shadow: 0 0 10px 5px #0c0;

        &:focus, &:focus-visible {
            outline: none;
        }

        &.disabled {
            cursor: default;
            box-shadow: none;
        }

        .table-number {
            margin: 0;
            color: white;
            transform: translate(-16px, -16px);
        }

        .meeple {
            height: 40px;
            width: 40px;
            grid-area: meeple;
            transform: translate(-4px, 4px);
        }

        #Drink {
            grid-area: drink;
            height: 36px;
            transform: translate(4px, 8px);
        }

        .plate {
            grid-area: plate;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: solid black 1px;
            padding: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            &:disabled {
                cursor: default;
                pointer-events: none;
            }

            #Cube {
                height: 24px;
                width: 24px;
                filter: drop-shadow(0 0 5px black);
            }
        }
    }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
    #Tables {
        margin-left: 0;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "table1 table2 table3" "track track track";
        .customer {
            width: 75px;
            height: 75px;

            .meeple {
                height: 25px;
                width: 25px;
            }

            .plate {
                height: 30px;
                width: 30px;
                // filter: $green-glow;

                &:disabled {
                    filter: none;
                }

                .cube {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .manager-track {
            width: 90%;
            // justify-content: space-evenly;
            grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
            .stop-container {
                p {
                    font-size: 12px;
                }
                .stop {
                    height: 20px;
                    width: 20px;

                    .manager {
                        height: 20px;
                    }
                }

                .stop-action {
                    font-size: 10px;
                }
            }
            .arrow {
                svg {
                    margin: 3px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
