#Tableau {
    grid-area: tableau;
    height: 90%;
    justify-content: flex-start;
    align-items: start;
    justify-content: center;
    display: grid;
    width: 90%;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    grid-template-areas: "Resources ActionDisk";
    // background-color: rgb(219, 219, 219);
    padding: 8px;
    border-radius: 16px;

    > * {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
    #Tableau {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: "ActionDisk" "Resources";
        // display: grid;
        // width: 100%;
        // grid-template-rows: 1fr;
        // grid-template-columns: auto auto;
        // grid-template-areas: "Resources" "ActionDisk";
        > * {
            margin-top: 0;
        }
    }
}
