#Tableau {
    grid-area: tableau;
    height: 100%;
    justify-content: flex-start;
    align-items: start;
    justify-content: space-between;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    grid-template-areas: "Resources ActionDisk";

    > * {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
    #Tableau {
        // display: grid;
        // width: 100%;
        // grid-template-rows: 1fr;
        // grid-template-columns: auto auto;
        // grid-template-areas: "Resources" "ActionDisk";
        // > * {
        //     margin-top: 0;
        // }
    }
}
