#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  // --blue: #1982C4;
  // --green: #8AC926;
  // --red: #FF595E;
  // --yellow: #FFCA3A;
  // --purple: #6A4C93;

  --blue: #33658A;
  --green: #689E63;
  --red: #A5000B;
  --yellow: #FFB447;
  --purple: #713368;
}

svg:focus,
svg:focus-visible {
  outline: none;
}

.cube {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.red {
  background-color: var(--red);
  border: solid black 1px;
  color: white;
}

.white {
  background-color: white;
  border: solid black 1px;
  color: black;
}

.blue {
  background-color: var(--blue);
  border: solid black 1px;
  color: white;
}

.yellow {
  background-color: var(--yellow);
  border: solid black 1px;
  color: black;
}

.purple {
  background-color: var(--purple);
  border: solid black 1px;
  color: white;
}

.green {
  background-color: var(--green);
  border: solid black 1px;
  color: white;
}

.black {
  background-color: black;
  border: solid black 1px;
  color: white;
}

.wild {
  background: linear-gradient(
    45deg,
    white 28%,
    var(--red) 28%,
    var(--red) 43%,
    var(--yellow) 43%,
    var(--yellow) 58%,
    var(--blue) 58%,
    var(--blue) 73%,
    // var(--purple) 73%,
    // var(--purple)
    var(--green) 73%,
    var(--green)
  );
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
  #root {
    padding: 2px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
