html {
  overflow: hidden;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

svg:focus,
svg:focus-visible {
  outline: none;
}

.cube {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.red {
  background-color: red;
  border: solid black 1px;
  color: white;
}

.white {
  background-color: white;
  border: solid black 1px;
  color: black;
}

.blue {
  background-color: blue;
  border: solid black 1px;
  color: white;
}

.yellow {
  background-color: yellow;
  border: solid black 1px;
  color: black;
}

.purple {
  background-color: purple;
  border: solid black 1px;
  color: white;
}

.green {
  background-color: green;
  border: solid black 1px;
  color: white;
}

.black {
  background-color: black;
  border: solid black 1px;
  color: white;
}

.wild {
  background: linear-gradient(
    45deg,
    white 28%,
    red 28%,
    red 43%,
    yellow 43%,
    yellow 58%,
    blue 58%,
    blue 73%,
    purple 73%,
    purple
  );
}

@media only screen and (max-width: 900px) and (max-height: 400px) and (orientation: landscape) {
  #root {
    padding: 2px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
  #root {
    padding: 2px;
    overflow: hidden;
  }
}
